.container {
  background: rgba(50, 50, 57, 0.8);
  background-image: url('../../assets/images/profile/leaderBg.png');
  background-size: cover;
  background-position: top center;
  border: 2px solid #FDC400;
  box-shadow: inset 0rem 0rem 3.5rem rgba(253, 204, 0, 0.1);
  border-radius: 0.875rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.avatar {
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  display: block;
  margin-right: 0.5rem;
}

.title {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #FDC400;
}

.name {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;  
  color: #ffffff;
}