.description {
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 600;
  color: #B8B8B8;
}

.removeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(173.23deg, #F4493E 2.52%, #B42222 97.49%);
  border-radius: 0.75rem;
  min-height: 3rem;
  border: none;
  width: 100%;
  margin: 1rem 0;
}

.removeText {
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 600;
  color: #FFFFFF;
  margin-left: 0.5rem;
}

.cancelBtn {
  width: 100%;
  min-height: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid #29292A;
  border-radius: 0.75rem;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 600;
  color: #FFFFFF;
}