.container {
  background: rgba(50, 50, 57, 0.8);
  border-radius: 0.875rem;
  padding: 1rem;
}

.status {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.25rem 0.5rem;
  color: #ffffff;
  margin-bottom: 0.25rem;
}

.title {
  font-weight: 600;
  font-size: 0.825rem;
  line-height: 1rem;
  color: #ffffff;
  margin: 0.5rem 0;
}

.description {
  margin: 0;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #b8b8b8;
}